@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('./variable.css');

/* Global Style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px !important;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--card-light);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 80px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222A35;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #575C66;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #626970;
}

.hero,
.skills,
.experience,
.education,
.project,
.navbar,
.not-found {
  max-width: 1200px;
  color: var(--text-primary);
}

.experience p.d-block,
.education p.d-block {
  transition: color .3s ease-in-out;
}

.experience p.d-block:hover,
.education p.d-block:hover {
  color: var(--button);
  cursor: pointer;
}

/* Experience & Education Card Component */
.card {
  background-color: var(--card);
  color: var(--text-primary);
  text-align: left;
  border: 0.1px solid #f2f3f47b;
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
  transition: border-color .5s ease-in-out;
}

.card:hover {
  border-color: var(--button);
}