@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variable Theme */
:root {
  --background: #1C1C27;
  --background-light: #1C1E27;
  --text-primary: #F2F3F4;
  --card: #171721;
  --card-light: #191924;
  --button: #854CE6;
}

/* Global Style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px !important;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--card-light);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 80px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222A35;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #575C66;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #626970;
}

/* Button Primary Component */
.button-primary {
  width: fit-content;
  border-color: var(--button);
  color: var(--button);
  transition: all .4s ease-in-out;
}

.button-primary:hover {
  border-color: var(--button);
  color: white;
  background-color: var(--button);
}

/* Navbar Component */
.navbar {
  max-width: 1200px;
}

.navbar-brand,
.nav-link {
  color: var(--text-primary);
  transition: all .2s ease-in-out;
}

.navbar-brand:hover,
.nav-link:hover {
  color: var(--button);
}

/* Experience Card Component */
.card {
  background-color: var(--card);
  color: var(--text-primary);
  text-align: left;
  border: 0.1px solid var(--button);
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
}

/* Home Page */
.hero {
  max-width: 1200px;
  color: var(--text-primary);
}

.hero h3 span {
  color: var(--button);
}

/* Skill Page */
.skills {
  max-width: 1200px;
  color: var(--text-primary);
}

.skills .skill-item {
  color: var(--text-primary);
  transition: color .2s ease-in-out, border-color .2s ease-in-out, opacity .2s ease-in-out;
  cursor: default;
}

.skills .skill-item:hover {
  border-color: var(--button) !important;
  color: var(--button);
  opacity: 1 !important;
}

.skills .skill-item img {
  height: 24px;
}

/* Experience Page */
.experience {
  max-width: 1200px;
  color: var(--text-primary);
}

.experience p.d-block:hover {
  color: var(--button);
  cursor: pointer;
}